EXPERIMENT_NOTIFY_ENABLED=1
NOTIFY_SMTP_HOST=xxx.xxx.xxx
NOTIFY_SMTP_PORT=465
NOTIFY_SMTP_USERNAME=bot@xxx.xxx.xxx
NOTIFY_SMTP_PASSWORD=xxx
NOTIFY_SMTP_USE_TLS=0 # 587
NOTIFY_SMTP_USE_SSL=1 # 465
NOTIFY_FROM=bot@xxx.xxx.xxx
NOTIFY_TO=xxx@xxx.xxx.xxx
NOTIFY_SUBJECT_PREFIX="[LLM-TPL]"